<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

    <style>
        body {
            background: url(https://cdn.dribbble.com/users/2918596/screenshots/10001475/media/aa77ed383c7b76f6446a03ecb7f937f9.gif);
        }

        button {
            background-color: rgba(7, 179, 185, 0.753);
            color: white;
            width: 90px;
            height: 40px;
            border: none;
            border-radius: 10px;
        }
    </style>
</head>

<body>
    {% include "navbar.html" %}

</body>

</html>